body {
    background: rgb(224, 229, 236);
}

/* h1 {
    position: relative;
    text-align: center;
    color: rgb(53, 53, 53);
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
} */

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 180px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
    display: inline-block;
    outline: none;
}

.btn-1 {
    background: linear-gradient(0deg, rgb(6, 14, 131) 0%, rgb(12, 25, 180) 100%);
    border: none;
}

.btn-1:hover {
    background: linear-gradient(0deg, rgb(0, 3, 255) 0%, rgb(2, 126, 251) 100%);
}

.btn-2 {
    background: linear-gradient(0deg, rgb(96, 9, 240) 0%, rgb(129, 5, 240) 100%);
    border: none;
}

.btn-2::before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow: rgba(255, 255, 255, 0.5) 4px 4px 6px 0px, rgba(116, 125, 136, 0.5) -4px -4px 6px 0px, rgba(255, 255, 255, 0.2) -4px -4px 6px 0px inset, rgba(0, 0, 0, 0.4) 4px 4px 6px 0px inset;
}

.btn-3 {
    background: linear-gradient(0deg, rgb(243, 210, 136) 0%, rgb(243, 210, 136) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0px;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3::before,
.btn-3::after {
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    background: #007bff;
    transition: all 0.3s ease 0s;
}

.btn-3::before {
    height: 0%;
    width: 2px;
}

.btn-3::after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: rgb(243, 210, 136);
    box-shadow: none;
}

.btn-3:hover::before {
    height: 100%;
}

.btn-3:hover::after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgb(254 254 254);
}

.btn-3 span::before,
.btn-3 span::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    background: #007bff;
    transition: all 0.3s ease 0s;
}

.btn-3 span::before {
    width: 2px;
    height: 0%;
}

.btn-3 span::after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover::before {
    height: 100%;
}

.btn-3 span:hover::after {
    width: 100%;
}

.btn-4 {
    background-color: rgb(77, 204, 198);
    background-image: linear-gradient(315deg, rgb(77, 204, 198) 0%, rgb(150, 228, 223) 74%);
    line-height: 42px;
    padding: 0px;
    border: none;
}

.btn-4:hover {
    background-color: rgb(137, 216, 211);
    background-image: linear-gradient(315deg, rgb(137, 216, 211) 0%, rgb(3, 200, 168) 74%);
}

.btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-4::before,
.btn-4::after {
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    box-shadow: rgba(255, 255, 255, 0.9) 4px 4px 6px 0px, rgba(116, 125, 136, 0.2) -4px -4px 6px 0px, rgba(255, 255, 255, 0.9) -4px -4px 6px 0px inset, rgba(116, 125, 136, 0.3) 4px 4px 6px 0px inset;
    transition: all 0.3s ease 0s;
}

.btn-4::before {
    height: 0%;
    width: 0.1px;
}

.btn-4::after {
    width: 0%;
    height: 0.1px;
}

.btn-4:hover::before {
    height: 100%;
}

.btn-4:hover::after {
    width: 100%;
}

.btn-4 span::before,
.btn-4 span::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    box-shadow: rgba(255, 255, 255, 0.9) 4px 4px 6px 0px, rgba(116, 125, 136, 0.2) -4px -4px 6px 0px, rgba(255, 255, 255, 0.9) -4px -4px 6px 0px inset, rgba(116, 125, 136, 0.3) 4px 4px 6px 0px inset;
    transition: all 0.3s ease 0s;
}

.btn-4 span::before {
    width: 0.1px;
    height: 0%;
}

.btn-4 span::after {
    width: 0%;
    height: 0.1px;
}

.btn-4 span:hover::before {
    height: 100%;
}

.btn-4 span:hover::after {
    width: 100%;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0px;
    border: none;
    background: linear-gradient(0deg, rgb(255, 27, 0) 0%, rgb(251, 75, 2) 100%);
}

.btn-5:hover {
    color: rgb(240, 9, 74);
    background: transparent;
    box-shadow: none;
}

.btn-5::before,
.btn-5::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 2px;
    width: 0px;
    background: rgb(240, 9, 74);
    box-shadow: rgb(255, 255, 255) -1px -1px 5px 0px, rgba(0, 0, 0, 0.2) 7px 7px 20px 0px, rgba(0, 0, 0, 0.133) 4px 4px 5px 0px;
    transition: all 400ms ease 0s;
}

.btn-5::after {
    right: inherit;
    top: inherit;
    left: 0px;
    bottom: 0px;
}

.btn-5:hover::before,
.btn-5:hover::after {
    width: 100%;
    transition: all 800ms ease 0s;
}

.btn-6 {
    background: radial-gradient(circle, rgb(247, 150, 192) 0%, rgb(118, 174, 241) 100%);
    line-height: 42px;
    padding: 0px;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6::before,
.btn-6::after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow: rgb(255, 255, 255) -1px -1px 20px 0px, rgb(255, 255, 255) -4px -4px 5px 0px, rgba(0, 0, 0, 0.4) 7px 7px 20px 0px, rgba(0, 0, 0, 0.3) 4px 4px 5px 0px;
}

.btn-6::before {
    right: 0px;
    top: 0px;
    transition: all 500ms ease 0s;
}

.btn-6::after {
    left: 0px;
    bottom: 0px;
    transition: all 500ms ease 0s;
}

.btn-6:hover {
    background: transparent;
    color: rgb(118, 174, 241);
    box-shadow: none;
}

.btn-6:hover::before {
    transition: all 500ms ease 0s;
    height: 100%;
}

.btn-6:hover::after {
    transition: all 500ms ease 0s;
    height: 100%;
}

.btn-6 span::before,
.btn-6 span::after {
    position: absolute;
    content: "";
    box-shadow: rgb(255, 255, 255) -1px -1px 20px 0px, rgb(255, 255, 255) -4px -4px 5px 0px, rgba(0, 0, 0, 0.4) 7px 7px 20px 0px, rgba(0, 0, 0, 0.3) 4px 4px 5px 0px;
}

.btn-6 span::before {
    left: 0px;
    top: 0px;
    width: 0%;
    height: 0.5px;
    transition: all 500ms ease 0s;
}

.btn-6 span::after {
    right: 0px;
    bottom: 0px;
    width: 0%;
    height: 0.5px;
    transition: all 500ms ease 0s;
}

.btn-6 span:hover::before {
    width: 100%;
}

.btn-6 span:hover::after {
    width: 100%;
}

.btn-7 {
    background: linear-gradient(0deg, rgb(255, 151, 0) 0%, rgb(251, 75, 2) 100%);
    line-height: 42px;
    padding: 0px;
    border: none;
}

.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-7::before,
.btn-7::after {
    position: absolute;
    content: "";
    right: 0px;
    bottom: 0px;
    background: rgb(251, 75, 2);
    box-shadow: rgba(255, 255, 255, 0.9) -7px -7px 20px 0px, rgba(255, 255, 255, 0.9) -4px -4px 5px 0px, rgba(0, 0, 0, 0.2) 7px 7px 20px 0px, rgba(0, 0, 0, 0.3) 4px 4px 5px 0px;
    transition: all 0.3s ease 0s;
}

.btn-7::before {
    height: 0%;
    width: 2px;
}

.btn-7::after {
    width: 0%;
    height: 2px;
}

.btn-7:hover {
    color: rgb(251, 75, 2);
    background: transparent;
}

.btn-7:hover::before {
    height: 100%;
}

.btn-7:hover::after {
    width: 100%;
}

.btn-7 span::before,
.btn-7 span::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: rgb(251, 75, 2);
    box-shadow: rgba(255, 255, 255, 0.9) -7px -7px 20px 0px, rgba(255, 255, 255, 0.9) -4px -4px 5px 0px, rgba(0, 0, 0, 0.2) 7px 7px 20px 0px, rgba(0, 0, 0, 0.3) 4px 4px 5px 0px;
    transition: all 0.3s ease 0s;
}

.btn-7 span::before {
    width: 2px;
    height: 0%;
}

.btn-7 span::after {
    height: 2px;
    width: 0%;
}

.btn-7 span:hover::before {
    height: 100%;
}

.btn-7 span:hover::after {
    width: 100%;
}

.btn-8 {
    background-color: rgb(240, 236, 252);
    background-image: linear-gradient(315deg, rgb(240, 236, 252) 0%, rgb(199, 151, 235) 74%);
    line-height: 42px;
    padding: 0px;
    border: none;
}

.btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-8::before,
.btn-8::after {
    position: absolute;
    content: "";
    right: 0px;
    bottom: 0px;
    background: rgb(199, 151, 235);
    transition: all 0.3s ease 0s;
}

.btn-8::before {
    height: 0%;
    width: 2px;
}

.btn-8::after {
    width: 0%;
    height: 2px;
}

.btn-8:hover::before {
    height: 100%;
}

.btn-8:hover::after {
    width: 100%;
}

.btn-8:hover {
    background: transparent;
}

.btn-8 span:hover {
    color: rgb(199, 151, 235);
}

.btn-8 span::before,
.btn-8 span::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: rgb(199, 151, 235);
    transition: all 0.3s ease 0s;
}

.btn-8 span::before {
    width: 2px;
    height: 0%;
}

.btn-8 span::after {
    height: 2px;
    width: 0%;
}

.btn-8 span:hover::before {
    height: 100%;
}

.btn-8 span:hover::after {
    width: 100%;
}

.btn-9 {
    border: none;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.btn-9::after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 209, 249);
    background-image: linear-gradient(315deg, rgb(31, 209, 249) 0%, rgb(182, 33, 254) 74%);
    transition: all 0.3s ease 0s;
}

.btn-9:hover {
    background: transparent;
    box-shadow: rgba(255, 255, 255, 0.5) 4px 4px 6px 0px, rgba(116, 125, 136, 0.2) -4px -4px 6px 0px, rgba(255, 255, 255, 0.5) -4px -4px 6px 0px inset, rgba(116, 125, 136, 0.3) 4px 4px 6px 0px inset;
    color: rgb(255, 255, 255);
}

.btn-9:hover::after {
    transform: scale(2) rotate(180deg);
    box-shadow: rgba(255, 255, 255, 0.5) 4px 4px 6px 0px, rgba(116, 125, 136, 0.2) -4px -4px 6px 0px, rgba(255, 255, 255, 0.5) -4px -4px 6px 0px inset, rgba(116, 125, 136, 0.3) 4px 4px 6px 0px inset;
}

.btn-10 {
    background: linear-gradient(0deg, rgb(22, 9, 240) 0%, rgb(49, 110, 244) 100%);
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.btn-10::after {
    position: absolute;
    content: " ";
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    transform: scale(0.1);
}

.btn-10:hover {
    color: rgb(255, 255, 255);
    border: none;
    background: transparent;
}

.btn-10:hover::after {
    background: linear-gradient(0deg, rgb(2, 126, 251) 0%, rgb(0, 3, 255) 100%);
    transform: scale(1);
}

.btn-11 {
    border: none;
    background: linear-gradient(180deg, rgb(219 171 83) 0%, rgb(39 41 44) 100%);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.btn-11:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-11::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0px;
    width: 30px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    animation: 3s ease-in-out 0s infinite normal none running shiny-btn1;
}

.btn-11:hover {
    opacity: 0.7;
}

.btn-11:active {
    box-shadow: rgba(255, 255, 255, 0.3) 4px 4px 6px 0px, rgba(116, 125, 136, 0.2) -4px -4px 6px 0px, rgba(255, 255, 255, 0.2) -4px -4px 6px 0px inset, rgba(0, 0, 0, 0.2) 4px 4px 6px 0px inset;
}

.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    perspective: 230px;
}

.btn-12 span {
    background: linear-gradient(0deg, rgb(0, 172, 238) 0%, rgb(2, 126, 251) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
    border-radius: 5px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

.btn-12 span:nth-child(1) {
    box-shadow: rgba(255, 255, 255, 0.6) -7px -7px 20px 0px, rgba(255, 255, 255, 0.6) -4px -4px 5px 0px, rgba(0, 0, 0, 0.133) 7px 7px 20px 0px, rgba(0, 0, 0, 0.067) 4px 4px 5px 0px;
    transform: rotateX(90deg);
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
    color: transparent;
    transform: rotateX(-90deg);
}

.btn-13 {
    background-color: rgb(137, 216, 211);
    background-image: linear-gradient(315deg, rgb(137, 216, 211) 0%, rgb(3, 200, 168) 74%);
    border: none;
    z-index: 1;
}

.btn-13::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 5px;
    background-color: rgb(77, 204, 198);
    background-image: linear-gradient(315deg, rgb(77, 204, 198) 0%, rgb(150, 228, 223) 74%);
    box-shadow: rgba(255, 255, 255, 0.6) -7px -7px 20px 0px, rgba(255, 255, 255, 0.6) -4px -4px 5px 0px, rgba(0, 0, 0, 0.133) 7px 7px 20px 0px, rgba(0, 0, 0, 0.067) 4px 4px 5px 0px;
    transition: all 0.3s ease 0s;
}

.btn-13:hover {
    color: rgb(255, 255, 255);
}

.btn-13:hover::after {
    top: 0px;
    height: 100%;
}

.btn-13:active {
    top: 2px;
}

.btn-14 {
    background: rgb(255, 151, 0);
    border: none;
    z-index: 1;
}

.btn-14::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 5px;
    background-color: rgb(234, 248, 24);
    background-image: linear-gradient(315deg, rgb(234, 248, 24) 0%, rgb(246, 252, 156) 74%);
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset;
    transition: all 0.3s ease 0s;
}

.btn-14:hover {
    color: rgb(0, 0, 0);
}

.btn-14:hover::after {
    top: auto;
    bottom: 0px;
    height: 100%;
}

.btn-14:active {
    top: 2px;
}

.btn-15 {
    background: rgb(216, 189, 68);
    border: none;
    z-index: 1;
    margin-top: 625px;
    margin-left: -295px;
    width: 250px;
    height: 50px;
}

.btn-15::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: -1;
    background-color: rgb(183, 150, 0);
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    transition: all 0.8s ease 0s;
}

.btn-15:hover {
    color: rgb(255, 255, 255);
}

.btn-15:hover::after {
    left: 0px;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

.btn-16 {
    border: none;
    color: rgb(0, 0, 0);
}

.btn-16::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    direction: rtl;
    z-index: -1;
    box-shadow: rgba(255, 255, 255, 0.6) -7px -7px 20px 0px, rgba(255, 255, 255, 0.6) -4px -4px 5px 0px, rgba(0, 0, 0, 0.133) 7px 7px 20px 0px, rgba(0, 0, 0, 0.067) 4px 4px 5px 0px;
    transition: all 0.3s ease 0s;
}

.btn-16:hover {
    color: rgb(0, 0, 0);
}

.btn-16:hover::after {
    left: auto;
    right: 0px;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

.container-fluid > .custom-btn{
    
margin-left: 840px;
    
margin-top: 60px;
}