* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto, sans-serif;
  color: rgb(85, 75, 85);
  background-color: rgb(255, 255, 255);
}

/* h1 {
  padding: 50px 0px;
  font-size: 45px;
  text-align: center;
  color: rgb(54, 56, 55);
} */

:active,
:hover,
:focus {
  outline-offset: 0px;
  outline: 0px !important;
}

::before,
::after {
  position: absolute;
  content: "";
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 15px 20px;
  transition: all 0.3s ease 0s;
}

.btn-1::before {
  background-color: rgb(28, 31, 30);
  transition: all 0.3s ease-out 0s;
}

.btn-1 span {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(28, 31, 30);
  transition: all 0.2s ease 0.1s;
}

.btn-1 span:hover {
  color: rgb(28, 31, 30);
  transition: all 0.2s ease 0.1s;
}

.btn.hover-filled-slide-down::before {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.btn.hover-filled-slide-down:hover::before {
  height: 0%;
}

.btn.hover-filled-slide-up::before {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.btn.hover-filled-slide-up:hover::before {
  height: 0%;
}

.btn.hover-filled-slide-left::before {
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.btn.hover-filled-slide-left:hover::before {
  width: 0%;
}

.btn.hover-filled-slide-right::before {
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.btn.hover-filled-slide-right:hover::before {
  width: 0%;
}

.btn.hover-filled-opacity::before {
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.btn.hover-filled-opacity:hover::before {
  opacity: 0;
}

.btn-2::before {
  background-color: rgb(28, 31, 30);
  transition: all 0.3s ease-out 0s;
}

.btn-2 span {
  color: rgb(28, 31, 30);
  border: 1px solid rgb(28, 31, 30);
  transition: all 0.2s ease 0s;
}

.btn-2 span:hover {
  color: rgb(255, 255, 255);
  transition: all 0.2s ease 0.1s;
}

.btn.hover-slide-down::before {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0%;
  width: 100%;
}

.btn.hover-slide-down:hover::before {
  height: 100%;
}

.btn.hover-slide-up::before {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0%;
  width: 100%;
}

.btn.hover-slide-up:hover::before {
  height: 100%;
}

.btn.hover-slide-left::before {
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 0%;
}

.btn.hover-slide-left:hover::before {
  width: 100%;
}

.btn.hover-slide-right::before {
  top: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 0%;
}

.btn.hover-slide-right:hover::before {
  width: 100%;
}

.btn.hover-opacity::before {
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.btn.hover-opacity:hover::before {
  opacity: 1;
}

.btn-3 {
  padding: 5px;
}

.btn-3 span {
  color: rgb(255, 255, 255);
  background-color: rgb(219 171 83);
  border-radius: 3px;
}

.btn-3::before,
.btn-3::after {
  background: transparent;
  z-index: 2;
}

.btn.hover-border-1::before,
.btn.hover-border-1::after {
  width: 10%;
  height: 25%;
  transition: all 0.35s ease 0s;
}

.btn.hover-border-1::before {
  top: 0px;
  left: 0px;
  border-left: 1px solid rgb(28, 31, 30);
  border-top: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-1::after {
  bottom: 0px;
  right: 0px;
  border-right: 1px solid rgb(28, 31, 30);
  border-bottom: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-1:hover::before,
.btn.hover-border-1:hover::after {
  width: 99%;
  height: 98%;
}

.btn.hover-border-2::before,
.btn.hover-border-2::after {
  width: 10%;
  height: 25%;
  transition: all 0.35s ease 0s;
}

.btn.hover-border-2::before {
  bottom: 0px;
  left: 0px;
  border-left: 1px solid rgb(28, 31, 30);
  border-bottom: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-2::after {
  top: 0px;
  right: 0px;
  border-right: 1px solid rgb(28, 31, 30);
  border-top: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-2:hover::before,
.btn.hover-border-2:hover::after {
  width: 99%;
  height: 99%;
}

.btn.hover-border-3::before,
.btn.hover-border-3::after {
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: width 0.2s linear 0.15s, height 0.15s linear 0s, opacity 0s ease 0.35s;
}

.btn.hover-border-3::before {
  top: 0px;
  right: 0px;
  border-top: 1px solid rgb(28, 31, 30);
  border-left: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-3::after {
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(28, 31, 30);
  border-right: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-3:hover::before,
.btn.hover-border-3:hover::after {
  width: 100%;
  height: 99%;
  opacity: 1;
  transition: width 0.2s linear 0s, height 0.15s linear 0.2s, opacity 0s ease 0s;
}

.btn.hover-border-4::before,
.btn.hover-border-4::after {
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: width 0.2s linear 0s, height 0.15s ease-out 0.2s, opacity 0s ease 0.35s;
}

.btn.hover-border-4::before {
  bottom: 0px;
  left: -1px;
  border-top: 1px solid rgb(28, 31, 30);
  border-left: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-4::after {
  top: 0px;
  right: 0px;
  border-bottom: 1px solid rgb(28, 31, 30);
  border-right: 1px solid rgb(28, 31, 30);
}

.btn.hover-border-4:hover::before,
.btn.hover-border-4:hover::after {
  width: 100%;
  height: 99%;
  opacity: 1;
  transition: width 0.2s ease-out 0.15s, height 0.15s ease-in 0s, opacity 0s ease 0s;
}

.btn.hover-border-5::before,
.btn.hover-border-5::after {
  width: 0%;
  height: 0%;
  opacity: 0;
}

.btn.hover-border-5::before {
  top: 0px;
  right: 0px;
  border-top: 1px solid rgb(28, 31, 30);
  border-left: 1px solid rgb(28, 31, 30);
  transition: width 0.2s ease-out 0.5s, height 0.15s linear 0.35s, opacity 0s ease 0.7s;
}

.btn.hover-border-5::after {
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(28, 31, 30);
  border-right: 1px solid rgb(28, 31, 30);
  transition: width 0.2s linear 0.15s, height 0.15s ease-in 0s, opacity 0s ease 0.35s;
}

.btn.hover-border-5:hover::before,
.btn.hover-border-5:hover::after {
  width: 100%;
  height: 96%;
  opacity: 1;
}

.btn.hover-border-5:hover::before {
  transition: width 0.2s ease-in 0s, height 0.15s linear 0.2s, opacity 0s ease 0s;
}

.btn.hover-border-5:hover::after {
  transition: width 0.2s linear 0.35s, height 0.15s ease-out 0.5s, opacity 0s ease 0.3s;
}

.btn-4 span {
  color: rgb(28, 31, 30);
  background-color: rgb(245, 245, 245);
}

.btn-4 span:hover {
  color: rgb(54, 56, 55);
}

.btn-4::before,
.btn-4::after {
  width: 15%;
  height: 2px;
  background-color: rgb(54, 56, 55);
  z-index: 2;
}

.btn.hover-border-6::before,
.btn.hover-border-6::after {
  top: 0px;
  transition: width 0.2s ease-out 0.35s;
}

.btn.hover-border-6::before {
  right: 50%;
}

.btn.hover-border-6::after {
  left: 50%;
}

.btn.hover-border-6:hover::before,
.btn.hover-border-6:hover::after {
  width: 50%;
  transition: width 0.2s ease-in 0s;
}

.btn.hover-border-6 span::before,
.btn.hover-border-6 span::after {
  width: 0%;
  height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
  transition: width 0.2s ease-in 0s, height 0.15s linear 0.2s, opacity 0s ease 0.35s;
}

.btn.hover-border-6 span::before {
  top: 0px;
  left: 0px;
  border-left: 2px solid rgb(54, 56, 55);
  border-bottom: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-6 span::after {
  top: 0px;
  right: 0px;
  border-right: 2px solid rgb(54, 56, 55);
  border-bottom: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-6 span:hover::before,
.btn.hover-border-6 span:hover::after {
  width: 50%;
  height: 96%;
  opacity: 1;
  transition: height 0.2s ease-in 0.2s, width 0.2s linear 0.4s, opacity 0s ease 0.2s;
}

.btn.hover-border-7::before,
.btn.hover-border-7::after {
  bottom: 0px;
  transition: width 0.2s ease-out 0.35s;
}

.btn.hover-border-7::before {
  right: 50%;
}

.btn.hover-border-7::after {
  left: 50%;
}

.btn.hover-border-7:hover::before,
.btn.hover-border-7:hover::after {
  width: 50%;
  transition: width 0.2s ease-in 0s;
}

.btn.hover-border-7 span::before,
.btn.hover-border-7 span::after {
  width: 0%;
  height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
  transition: width 0.2s ease-in 0s, height 0.15s linear 0.2s, opacity 0s ease 0.35s;
}

.btn.hover-border-7 span::before {
  bottom: 0px;
  left: 0px;
  border-left: 2px solid rgb(54, 56, 55);
  border-top: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-7 span::after {
  bottom: 0px;
  right: 0px;
  border-right: 2px solid rgb(54, 56, 55);
  border-top: 2px solid rgb(54, 56, 55);
}

.btn.hover-border-7 span:hover::before,
.btn.hover-border-7 span:hover::after {
  width: 50%;
  height: 96%;
  opacity: 1;
  transition: height 0.2s ease-in 0.2s, width 0.2s linear 0.4s, opacity 0s ease 0.2s;
}

.btn.hover-border-8::before,
.btn.hover-border-8::after {
  bottom: 0px;
  width: 15%;
  transition: width 0.2s ease-out 0.35s;
}

.btn.hover-border-8::before {
  right: 50%;
}

.btn.hover-border-8::after {
  left: 50%;
}

.btn.hover-border-8:hover::before {
  width: 50%;
  transition: width 0.2s ease-in 0s;
}

.btn.hover-border-8:hover::after {
  width: 50%;
  transition: width 0.1s ease-in 0s;
}

.btn.hover-border-8 span::before,
.btn.hover-border-8 span::after {
  width: 0%;
  height: 0%;
  bottom: 0px;
  background: transparent;
  opacity: 0;
  z-index: 2;
}

.btn.hover-border-8 span::before {
  left: 0%;
  border-left: 2px solid rgb(54, 56, 55);
  transition: height 0.25s ease-in 0s, opacity 0s ease 0.35s;
}

.btn.hover-border-8 span:hover::before {
  height: 96%;
  opacity: 1;
  transition: height 0.25s ease-out 0.2s, opacity 0s ease 0.2s;
}

.btn.hover-border-8 span::after {
  right: 0%;
  border-right: 2px solid rgb(54, 56, 55);
  border-top: 2px solid rgb(54, 56, 55);
  transition: width 0.2s ease-in 0s, height 0.15s linear 0.2s, opacity 0s ease 0.35s;
}

.btn.hover-border-8 span:hover::after {
  width: 99%;
  height: 96%;
  opacity: 1;
  transition: height 0.15s linear 0.1s, width 0.2s linear 0.25s, opacity 0s ease 0.1s;
}

.btn.hover-border-9::before,
.btn.hover-border-9::after {
  bottom: 0px;
  width: 15%;
  transition: width 0.2s ease-out 0.35s;
}

.btn.hover-border-9::before {
  right: 50%;
}

.btn.hover-border-9::after {
  left: 50%;
}

.btn.hover-border-9:hover::before {
  width: 50%;
  transition: width 0.1s ease-in 0s;
}

.btn.hover-border-9:hover::after {
  width: 50%;
  transition: width 0.2s ease-in 0s;
}

.btn.hover-border-9 span::before,
.btn.hover-border-9 span::after {
  width: 0%;
  height: 0%;
  bottom: 0px;
  background: transparent;
  opacity: 0;
  z-index: 2;
}

.btn.hover-border-9 span::after {
  right: 0%;
  border-right: 2px solid rgb(54, 56, 55);
  transition: height 0.25s ease-in 0s, opacity 0s ease 0.35s;
}

.btn.hover-border-9 span:hover::after {
  height: 96%;
  opacity: 1;
  transition: height 0.25s ease-out 0.2s, opacity 0s ease 0.2s;
}

.btn.hover-border-9 span::before {
  left: 0%;
  border-left: 2px solid rgb(54, 56, 55);
  border-top: 2px solid rgb(54, 56, 55);
  transition: width 0.2s ease-in 0s, height 0.15s linear 0.2s, opacity 0s ease 0.35s;
}

.btn.hover-border-9 span:hover::before {
  width: 98.5%;
  height: 96%;
  opacity: 1;
  transition: height 0.15s linear 0.1s, width 0.2s linear 0.25s, opacity 0s ease 0.1s;
}

.btn.hover-border-10::before,
.btn.hover-border-10::after {
  left: 0%;
  height: 30%;
  width: 2px;
  transition: height 0.2s ease-out 0.35s;
}

.btn.hover-border-10::before {
  top: 50%;
}

.btn.hover-border-10::after {
  bottom: 50%;
}

.btn.hover-border-10:hover::before {
  height: 50%;
  transition: height 0.2s ease-in 0s;
}

.btn.hover-border-10:hover::after {
  height: 50%;
  transition: height 0.1s ease-in 0s;
}

.btn.hover-border-10 span::before,
.btn.hover-border-10 span::after {
  width: 0%;
  height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
}

.btn.hover-border-10 span::after {
  bottom: 0px;
  left: 0%;
  border-bottom: 2px solid rgb(54, 56, 55);
  transition: width 0.25s ease-in 0s, opacity 0s ease 0.35s;
}

.btn.hover-border-10 span:hover::after {
  width: 100%;
  opacity: 1;
  transition: width 0.25s ease-out 0.2s, opacity 0s ease 0.2s;
}

.btn.hover-border-10 span::before {
  top: 0%;
  left: 0%;
  border-top: 2px solid rgb(54, 56, 55);
  border-right: 2px solid rgb(54, 56, 55);
  transition: height 0.15s ease-in 0s, width 0.2s linear 0.15s, opacity 0s ease 0.35s;
}

.btn.hover-border-10 span:hover::before {
  width: 98.5%;
  height: 96%;
  opacity: 1;
  transition: width 0.2s linear 0.1s, height 0.15s ease-out 0.3s, opacity 0s ease 0.1s;
}

.btn-5 span {
  transition: all 0.2s ease 0s;
}

.btn.hover-border-11::before,
.btn.hover-border-11::after {
  width: 100%;
  height: 2px;
  background-color: rgb(54, 56, 55);
  z-index: 2;
  transition: all 0.35s ease 0s;
}

.btn.hover-border-11::before {
  top: 0px;
  right: 0px;
}

.btn.hover-border-11::after {
  bottom: 0px;
  left: 0px;
}

.btn.hover-border-11:hover::before,
.btn.hover-border-11:hover::after {
  width: 0%;
  transition: all 0.2s ease-out 0.2s;
}

.btn.hover-border-11 span::before,
.btn.hover-border-11 span::after {
  width: 2px;
  height: 100%;
  background-color: rgb(54, 56, 55);
  z-index: 2;
  transition: all 0.25s ease 0s;
}

.btn.hover-border-11 span::before {
  bottom: 0px;
  right: -2px;
}

.btn.hover-border-11 span::after {
  top: 0px;
  left: -2px;
}

.btn.hover-border-11 span:hover::before,
.btn.hover-border-11 span:hover::after {
  height: 0%;
}

.btn-12 {
  position: relative;
  right: -120px;
  top: -15px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  perspective: 230px;
  z-index: 10000;
}

.btn-12 span {
  background: linear-gradient(0deg, rgb(249, 174, 141) 0%, rgb(154, 72, 2) 100%);
  display: block;
  position: absolute;
  width: 130px;
  right: -25px;
  height: 40px;
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  border-radius: 7px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
}

.btn-12 span:nth-child(1) {
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  color: transparent;
  transform: rotateX(-90deg);
  opacity: 0;
}

.ortancabuton {
  margin-left: 41px;
}