html,
body {
  height: 100%;
  position: relative;
  font-family: Roboto;
  background: rgb(248, 248, 248);
}

@font-face {
  font-family: 'reeyregular';
  src: url('/assets/fonts/reey-regular-webfont.eot');
  src: url('/assets/fonts/reey-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/reey-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/reey-regular-webfont.woff') format('woff'),
    url('/assets/fonts/reey-regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/reey-regular-webfont.svg#reeyregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.if-header {
  height: 100vh;
  background-color: white;
  background-image: url("/assets/img/Header\ Background.png");
  background-repeat: round;
  width: 100%;
}

/* .if-navbar {
  
}

.if-nav-item {
  
}

.if-nav-link {
  color: rgb(255 255 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: Montserrat;
  transition-duration: 0.5s, 0.5s;
}

.if-nav-link:hover {
  text-decoration: none;
  font-size: 25px;
  transition-duration: 0.5s, 0.5s;
  color: #b9d5ff;
} */

.if-nav-link {
  font-family: 'FontAwesome';
  margin: auto 30px;
}

.navMenu {
  float: right;
  padding-top: 70px;
  margin-right: 248px;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 10000000;
  text-decoration: none;
}

.navMenu a:hover {
  color: #b9d5ff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navMenu a:nth-child(1) ~ .dot {
  background: #b9d5ff;
  border-radius: 5%;
  opacity: 0;
  height: 2px;
  width: 0px;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navMenu a:nth-child(1):hover~.dot {
  -webkit-transform: translateX(28px);
  transform: translateX(28px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 58px;
  height: 2px;
}

.navMenu a:nth-child(2):hover~.dot {
  -webkit-transform: translateX(152px);
  transform: translateX(152px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 55px;
  height: 2px;
}

.navMenu a:nth-child(3):hover~.dot {
  -webkit-transform: translateX(273px);
  transform: translateX(273px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 105px;
  height: 2px;
}

.navMenu a:nth-child(4):hover~.dot {
  -webkit-transform: translateX(443px);
  transform: translateX(443px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 118px;
  height: 2px;
}

.navMenu a:nth-child(4) {
  /* padding-right: 30px; */
  /* width: 192px; */
}

.navMenu a:nth-child(3) {
  /* width: 172px; */
}

.navMenu a:nth-child(2) {
  /* padding-right: 30px; */
  /* width: 170px; */
}

.navMenu a:nth-child(1) {
  /* width: 135px; */
}

.if-search {
  float: right;
  margin-right: -760px;
  margin-top: 60px;
}

.if-search-bar {
  height: 50px;
  border-radius: 20px 0 0 20px;
  width: 90px;
}

.if-search-btnimg {
  width: 40px;
  border-radius: 0 20px 20px 0;
  height: 46px;
  color: transparent;
  background-color: white;
  border: none;
  margin-left: -7px;
  margin-top: 3px;
}

.fa-search {
  color: black;
  font-size: 50px;
  margin-left: -50px;
}

.fa {
  margin-bottom: 18px;
  margin-left: -25px;
  font-size: 23px !important;
}

.if-logo {
  position: absolute;
  margin-top: 90px;
  margin-left: 170px;
  z-index: 1000;
}

.if-left-txt {
  color: white;
  padding-top: 350px;
  padding-left: 130px;
  position: absolute;
}

.if-left-f-txt {
  font-size: 130px;
  font-family: 'reeyregular';
}

.if-left-s-txt {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.if-left-t-txt {
  font-size: 30px;
  width: 800px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
}

.if-right-image-makarna {
  float: right;
  margin-right: -730px;
  margin-top: 153px;
}

.if-right-image-makarna-sosu {
  float: right;
  margin-right: -210px;
  margin-top: 629px;
}

.if-right-image-yaprak {
  float: right;
  margin-right: -923px;
  margin-top: 690px;
  width: 600px;
  height: 456px;
}

.if-catalog {
  height: 90vh;
  background-color: white;
}

.if-catalog-text{
  padding-top: 110px;
  text-align: center;
}

.if-catalog-text 